<!DOCTYPE HTML>
  <html ng-app="project">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
<meta rel="stylesheet" href="https://unpkg.com/vue-pure-lightbox/dist/vue-pure-lightbox.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <script src="https://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <script src="src/js/core.js"></script>
        <script src="src/js/vk.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/vue-pure-lightbox/dist/vue-pure-lightbox.css" />
        <link rel="stylesheet" href="src/styles/style.css" />
    </head>
    <body>
        <template id="pagination-template">
            <div id="load_more" class="pagination justify-content-center">
                <button type="button" class="btn btn-primary" @click="changePage(nextPage)">Добавить еще</button>
            </div>
        </template>
        <div id="triangle" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pos-f-t" style="width: 100%;">
                          <div class="collapse" id="navbarToggleExternalContent">
                            <div class="bg-light p-4">
                              <h4 class="text-inverse">{{ username }}</h4>
                              <span class="text-muted" v-if="chechAccess">Авторизован</span><br />
                                <div class="btn-group" role="group" aria-label="First group">
                                  <button v-on:click="logout" v-if="chechAccess" class="btn btn-danger">Выход</button>
                                  <button v-on:click="login" v-if="!chechAccess" class="btn btn-success">Авторизоваться</button>
                                </div>
                            </div>
                          </div>
                          <nav class="navbar navbar-light bg-light">
                                <center>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                                      <h4>&#9776;</h4>
                                    </button>
                                </center>
                          </nav>
                        </div>
                    </div>
                </div>

                <transition name="slide-fade">
                    <div class="row" v-if="chechAccess">
                        <div class="col-md-12">
                            <div class="alert alert-success">
                              Triangle: {{ message }}
                            </div>
                        </div>
                    </div>
                </transition>

                <transition name="slide-fade">
                    <div id="friends" v-if="chechAccess">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Список друзей</h2>
                            </div>
                        </div>

                        <div class="row friends-list">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" v-for="friend in friendsArr">
                                <div class="friends-list__item">
                                    <div class="item__avatar-wrapper">
                                        <div class="item__online" v-bind:class="{ on: friend.online }"></div>
                                        <lightbox
                                            :thumbnail="friend.photo_100"
                                            :images="[friend.photo_max_orig]"
                                        ></lightbox><br />
                                    </div>
                                    <a v-bind:href="'//vk.com/id'+friend.user_id">
                                        <h5 class="item__name">{{ friend.first_name }} {{ friend.last_name }}</h5>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <pagination :current="perPage" @page-changed="getFriends(perPage)"></pagination>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>

        <script>
            if (!navigator.cookieEnabled) {
              alert( 'Включите cookie для комфортной работы с этим сайтом' );
            }
        </script>
        <script src="src/js/pagination.js"></script>
<script src="https://unpkg.com/vue-pure-lightbox/dist/vue-pure-lightbox.js"></script>
        <script src="src/js/app.js"></script>
        <script>
            vk.init();
            app.accessApp ();
        </script>
    </body>
  </html>
